body {
    background-image: url(martin-martz-RhF4D_sw6gk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto'sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2opx;
    padding: 40px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 12px;
}

.back-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0 123, 255, 0.4);
}

.back-btn:hover {
    background-color: #00a2ff;
    transform: translate(-3px);
}